.about-container{
    background-image: url('../../img/logo1.jpg');
    height: 400px;
}
.h2-text{
    font-weight: bold;
    font-size: 50px;
}

.quote-h2{
    font-weight: bold;
    font-size: 50px;
}

.about-quote{
    background-image: url('../../img/logo3.png');
    height: 400px;
    background-repeat: no-repeat;
}

.h2-text1{
    font-weight: bold;
    font-size: 50px;
}